@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root{
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Alata', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}

.hero__image{
    background-image: url("./images/mobile/image-hero.jpg");
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    height: 80vh;
}

.logo{
    padding: 40px 0px 0px 30px;
    width: 140px;
}