@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root{
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Alata', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}

.hero__image{
    background-image: url("./images/mobile/image-hero.jpg");
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    height: 80vh;
}

.logo{
    padding: 50px 0px 0px 40px;
    width: 180px;
}

.menu__button{
    text-decoration: none;
    background-color: transparent;
    position: absolute;
    right: 50px;
    top: 38px;
    display: flex;
}

.menu__button--image{
    width: 30px;
}

.menu__lateral--links{
    margin-top: 10em;
}

.menu__lateral--item{
    text-decoration: none;
    color: var(--white);
    font-weight: 400;
    font-size: 2em;
    margin: 30px 0px 0px 40px;
    text-transform: uppercase;
}

.menu__lateral{
    background-color: var(--black);
    height: 100vh;
    position: absolute;
    top: 0px;
    width: 100vw;
    display: flex;
    flex-direction: column;
}